<%= form_with url: "/applications", local: true, html: {class: "form"} do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Applicant Name:', class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :street, 'Street Address:', class: 'form-label' %>
    <%= f.text_field :street, class: 'form-control' %>
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :city, 'City:', class: 'form-label' %>
      <%= f.text_field :city, class: 'form-control' %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :state, 'State:', class: 'form-label' %>
      <%= f.text_field :state, class: 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :zip, 'Zipcode:', class: 'form-label' %>
      <%= f.text_field :zip, class: 'form-control' %>
    </div>
  </div>

  <%= f.hidden_field :status, value: "In Progress" %>

  <div class="form-group">
    <%= f.submit 'Submit Application', class: 'btn btn-primary' %>
  </div>
<% end %>