<h1><%= name %></h1>
<p style='font-weight: bold'>Street Address:</p>
<%= street %>
<p style='font-weight: bold'>City:</p>
<%= city %>
<p style='font-weight: bold'>State:</p>
<%= state %>
<p style='font-weight: bold'>Zip:</p>
<%= zip %>
<p style='font-weight: bold'>Why are you a good home?:</p>
<%= desc %>
<p style='font-weight: bold'>Status:</p>
<%= status %>
<p style='font-weight: bold'>Desired Pets:</p>