<%= render partial: 'partials/app_details', locals: {
	name: @application.name,
	street: @application.street,
	city: @application.city,
	state: @application.state,
	zip: @application.zip,
	desc: @application.desc,
	status: @application.status
} %>

<% @pets.each do |pet| %>
  <%= pet.name %>
	<% if pet.approved?(@application.id) %>
		<p> Approved </p>
	<% elsif pet.rejected?(@application.id) %>
		<p> Rejected </p>
	<% elsif !pet.adoptable %>
		<p><%= "#{pet.name} has been adopted." %></p>
	<% else %>
		<%= button_to "Approve #{pet.name}", "/admin/pet_applications/#{@application.id}?approval=1&pet_id=#{pet.id}", method: :patch %>
		<%= button_to "Reject #{pet.name}", "/admin/pet_applications/#{@application.id}?approval=2&pet_id=#{pet.id}", method: :patch %>

	<% end %>
<% end %>