<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
  <div class="container">
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %>">
        <%= msg %>
      </div>
    <% end %>

    <nav class="nav">
      <a class="nav-link" href="/pets">Pets</a>
      <a class="nav-link" href="/shelters">Shelters</a>
      <a class="nav-link" href="/veterinarians">Veterinarians</a>
      <a class="nav-link" href="/veterinary_offices">Veterinary Offices</a>
    </nav>

    <main>
      <%= yield %>
    </main>
  </div>
</body>
</html>
